.task-item {
  background-color: #1a171d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 15px;
  margin: 15px;
  width: 95%;
  align-self: center;
}

.task-name {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 500;
}

.task-cat {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 18px;
  border: none;
  background-color: #f3aa4e;
  border-radius: 25px;
  margin: 6px;
}
